body {
    background-color: hsl(221, 100%, 96%);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.your-result {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: #ffffff;
    border-radius: 30px;
    padding: 20px 50px;
    position: relative;
    z-index: 2;
}
.your-result-title {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.75);
    margin: 15px;
}

.darkest-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    background: linear-gradient(  hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    margin-top: 20px;
}

.result-value {
    font-size: 70px;
    margin: 0;
    font-weight: bold;
}

.max-value {
    color: hsl(241, 100%, 89%);
    font-weight: 600;
    margin: 0;
}

.result-title {
    font-size: 30px;
    margin-top: 25px;
}

.results-description {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 10px;
    padding: 0 10px;
    text-align: center;
}

.summary {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px; 
    padding: 20px 40px 30px 90px;
    margin-left: -50px;
    z-index: 1;
}

.summary-title {
    font-size: 26px;
    margin: 15px;
}

.itens {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 10px;
}

 .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
    font-weight: 600;
}
.item p {
    color: rgba(128, 128, 128, 0.765);
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item span {
    color: #111111;
    font-weight: 800;
}

.itens .reaction{
    background-color: hsl(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.itens .memory{
    background-color: hsl(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.itens .verbal{
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.itens .visual{
    background-color: hsl(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.btn-continue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    background-color: hsl(224, 30%, 27%);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsl(224, 30%, 27%);
  color: white;
  text-align: center;
  padding: 15px;
}

@media (max-width: 480px) {
    body {
        flex-direction: column;
        height: auto;
    }
    .container {
        flex-direction: column;
        margin: 0;
    }
    .your-result {
        width: 100%;
        border-radius: 0 0 30px 30px;
    }
    .results-description {
        padding: 0;
    }
    .summary {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding: 30px;
    }
    .footer {
        position: static;
    }
}